.job-container {
    height: fit-content;
    max-height: calc(100vh - 320px);
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Create two columns with equal width */
    gap: 10px;
    /* Add spacing between items */
    align-items: start;
}


.job-container>.job-card {
    height: 200px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px lightgrey;
    border-radius: 10px;
    margin: 5px;
    padding: 20px 10px;
    justify-content: space-between;
}

.job-container>.job-card>h5>i {
    margin-right: 5px;
}

.job-container>.job-card>span {
    font-size: 14px;
}

.job-container>.job-card>p {
    background-color: #b2eda3;
    font-weight: bold;
}

.job-container>.job-card>span {
    color: lightgray;
}

.job-img {
    align-self: center;
    width: 300px;
    height: 150px;
    border: 2px solid white;
}

.job-modal {
    /* display: none; */
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */
.job-modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: calc(100vw - 400px);
    padding: 15px;
}

.job-modal-content button {
    padding: 10px 20px;
    width: 600px;
    background-color: #9488a6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 50px;
}

.job-modal-content button:hover {
    background-color: #45a049;
}

.bus-form-container>.column:nth-child(2) {
    flex: 2;
}

.bus-form-container > .column > textarea {
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
}