.notification-items {
    height: 63px;
    width: 100%;
    padding: 25px;
    font-size: 20px;
    text-align: left;
    align-content: center;
    background: #f4f1fa;
    font-weight: bold;
    margin-top: 10px;
    overflow: hidden;
}

.notif-item {
    margin-left: 35px;
    font-size: 15px;
}

.notif-card {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    width: 100%;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 5px 15px lightgray;
    margin: 20px 20px;
    padding: 40px 20px;
    overflow: auto; /* Prevent content overflow */
}