.notification-items {
    height: 63px;
    width: 100%;
    padding: 25px;
    font-size: 20px;
    text-align: left;
    align-content: center;
    background: #f4f1fa;
    font-weight: bold;
    margin-top: 10px;
    overflow: hidden;
}

.notif-item {
    margin-left: 35px;
    font-size: 15px;
}