.profile-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}

.profile-container img {
    align-self: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid white;
  }

.column {
    width: 50%; /* Each column takes up 50% of the container */
}

.column:first-child {
    margin-right: 20px; /* Add some space between the columns */
}

.column h2 {
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="contact"] {
    width: calc(100% - 40px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="email"][readonly] {
    background-color: #f0f0f0; /* Optionally change the background color to indicate it's readonly */
}

#updateProfileButton {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #9488a6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


#updateProfileButton:hover {
    background-color: #0056b3;
}

.company-info-container {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    background-color: #ffffff;
    width: calc(100% - 40px);
    font-size: 16px;
    display: inline-block; 
    text-decoration: none;
}

/* .company-info-container {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    background-color: #ffffff;
    width: calc(100% - 40px);
    font-size: 16px;
    text-align: left; /* Align text to the left */

/* .company-address-text,
.company-description-text {
    display: block; 
} */

.company-address-text,
.company-description-text {
    display: block;
    width: 100%;
    text-decoration: none; /* Ensure no text decoration */
    border: none; /* Remove any potential border */
}

.lighter-label {
    opacity: 0.6; /* Adjust the value to achieve the desired lightness */
    color: #000; /* Ensure the text color is still readable */
}

.coop-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border: 2px solid #ccc; /* Adds a border to the container */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for a nicer look */
    border-radius: 10px; /* Rounds the corners slightly */
    height: 220px; /* Sets the height of the container */
    overflow: hidden; /* Ensures the image fits within the container */
}

.coop-image-container img {
    width: auto;
    height: 100%; /* Adjusts the image height to fit the container */
    object-fit: cover;
    border: none; /* Removes border around the image */
}